@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80");
    background-size: cover;
    flex-direction: column;
}
.heading {
    text-align: center;
    margin-bottom: 20px;
    
}

.heading h1 {
    font-size: 70px;
    text-shadow: 0px 0px 10px white;
    color: rgb(113, 228, 119);
    letter-spacing: 4px;
}

.box {
    width: 700px;
    min-height: 500px;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    background: transparent;
    box-shadow: 0px 0px 10px white;
    border: 2px solid white;
    
}

#item {
    padding: 10px;
    font-size: 20px;
    width: 100%;
    border: 0;
    outline: 0;
    display: block;
    font-weight: bold;
    background: transparent;
    box-shadow: 0px 0px 10px white;
    color: white;
}

#to-do-box {
    margin-top: 20px;
    list-style: none;
}

#to-do-box li {
    position: relative;
    background-color: #2c3e50;
    color:white;
    padding: 10px;
    border-radius: 2px;
    padding-right: 30px;
    text-align: justify;
    margin-top: 10px;
    user-select: none;

}

#to-do-box li i {
    position: absolute;
    right: 10px;
    top: 10px;
    
}

.done {
    text-decoration: line-through;
    color: black;
    background-color: #95a5a6 !important;
}
